PORT=3000
DATABASE_URL=
JWT_SECRET=
FRONTEND_URL=http://localhost:5174
MOBILE_FRONTEND_URL=http://localhost:5173
ALLOWED_ORIGINS=https://sintonia-inky.vercel.app,http://localhost:5173,http://localhost:5174
